.bellisima-row {
    color: #3b49eb !important;

}

.versailles-row {
    color: #fc03e3 !important;
    ;

}

.balmayna-row {
    color: #2ECC71 !important;
    ;

}

.jomaireh-row {
    color: #ed6802 !important;
    ;

}

.palm-suite-row {
    color: #f5c907 !important;
    ;

}

.lotus-row {
    color: #7fbceb !important;
    ;

}