/* src/styles/chefs.css */
.chef__item {
    border: 1px solid #fde4e4;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .chef__img {
    width: 100%; /* Set to fill the width of the column */
    height: 150%; /* Set a fixed height to make it rectangular */
    object-fit: cover; /* Ensure the image covers the area without stretching */
    border-radius: 8px; /* Optional: Add some rounding to the corners */
    margin-bottom: 20px;
  }
  
  .chef__item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  