.custom-input {
    background-color: rgba(255, 255, 255, 0.8); /* Light, semi-transparent background */
    color: #212245;
    padding: 15px;
    border: 1px solid #ccc; /* Add border for visibility */
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    width: 100%; /* Ensure input fields take full width */
    transition: border-color 0.3s;
  }
  
  .custom-input:focus {
    border-color: #df2020; /* Change border color on focus */
    outline: none; /* Remove outline */
  }
  