.hero-section {
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  color: #000000;
}

.hero__content-container {
  background: #f9f8f6; /* Optional semi-transparent background for readability */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #000000;
}

.hero__content {
  max-width: 300px;
  padding-top: 70px;
}

.hero__title {
  font-size: 2.5rem;
  line-height: 55px;
}

.hero__title span {
  color: #bf9d54;
}

.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.order__btn {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: #bf9d54;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}

.order__btn:hover {
  background: #212245;
}

.order__btn:hover a {
  color: inherit;
  text-decoration: none;
}

.hero__img-container {
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Ensure no overflow */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  border: none; /* Ensure no border on the container */
}

.hero__video {
  height: 100%; /* Full container height */
  width: 100%; /* Full container width */
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  border: none; /* Remove any border */
  display: block; /* Avoid any inline spacing issues */
  object-fit: cover; /* Cover the container */
}

@media only screen and (max-width: 768px) {
  .hero__content h5 {
    font-size: 1rem;
  }

  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .hero__title {
    font-size: 1.5rem;
    line-height: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .hero__content {
    text-align: center;
  }

  .order__btn {
    display: block;
    margin: 0 auto;
  }
}
